$blue: #4286f4;
$gray: #737c8c;
$white: #fff;

#grid{
    color: $white;
    font-family: 'Nunito Semibold';
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#grid div{
    background: $gray;
    padding: 30px;
}

#grid div:nth-child(even){
    background: $blue;
}